<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Target Practice</title>
</head>
<body>
<h1>BCCA Job Board</h1>
<a href="/make_posting">Post a job!</a>
<br>
<a href="/view_posting">View the example!</a><span>(Change later!)</span>
</body>
</html>