<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make Post</title>
</head>
<body>
<form action="">
    <label for="employerName">Company: </label><br><input name="employerName" type="text"><br>
    <label for="postedPosition">Available Position: </label><br><input name="postedPosition" type="text"><br>
    <label for="positionLocation">Company Location: </label><br><input name="positionLocation" type="text"><br>
    <label for="benefits">Benefits: </label><br><textarea name="benefits"></textarea>
</form>
</body>
</html>
