<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make Post</title>
</head>
<body>
<form action="" method="POST">
    <p>
        Thank you for using the BCCA Job Board!
        Here you can post jobs that you think would be perfect for one of our attendees, just fill out the information below.
    </p>
    <label for="company">Company: </label><br><input required name="company" type="text"><br>
    <label for="position">Available Position: </label><br><input required name="position" type="text"><br>
    <label for="location">Company Location: </label><br><input required name="location" type="text"><br>
    <label for="prereqs">Prerequisites: </label><br><textarea required name="prereqs"></textarea><br>
    <label for="benefits">Benefits: </label><br><textarea required name="benefits"></textarea><br>
    <br><button>Submit</button>
</form>
</body>
</html>
