<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posted Jobs</title>
</head>
<body>
    <p><a href="https://www.cspire.com/home-services/" target="_blank">Company: CSpire<br>
        Position: Software Engineer
    </a><br><span>(EXAMPLE DOES NOT TAKE TO JOB)</span></p>
    <p><a href="https://www.fedex.com/en-us/home.html" target="_blank">Company: Fedex<br>
        Position: Front-End Developer
    </a><span><br>(EXAMPLE DOES NOT TAKE TO JOB)</span></p>
</body>
</html>