<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posted Jobs</title>
</head>
<body>
    <p><a>Company: CSpire<br>
        Position: Software Engineer
    </a></p>
    <p><a>Company: Fedex<br>
        Position: Front-End Developer
    </a></p>
</body>
</html>
