<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Available Job</title>
</head>
<body>
    <label for="employerName">Company: </label><br>
    <p name="employerName">&nbsp;&nbsp;&nbsp;&nbsp;A Company</p>
    <label for="postedPosition">Available Position: </label><br>
    <p name="postedPosition">&nbsp;&nbsp;&nbsp;&nbsp;Software Engineer</p>
    <label for="positionLocation">Company Location: </label><br>
    <p name="positionLocation">&nbsp;&nbsp;&nbsp;&nbsp;Oxford, MS</p>
    <label for="prereqs">Prerequisites: </label><br>
    <p name="prereqs">&nbsp;&nbsp;&nbsp;&nbsp;Skills we would like you to have:
    <ul>
        <li>Bachelor's Degree in Computer Science</li>
        <li>2+ Years of experience</li>
    </ul>
    </p>
    <label for="benefits">Benefits: </label><br>
    <p name="benefits">&nbsp;&nbsp;&nbsp;&nbsp;Available Benefits:
        <ul>
            <li>Full Vision</li>
            <li>Full Dental</li>
            <li>Full Health Care</li>
        </ul>
    </p>
    <button>Delete Posting</button><br>
    <textarea placeholder="Make a comment..." cols="75" rows="3"></textarea> <button>Make Comment!</button>
    <p>Comment 1</p>
    <p>Comment 2</p>
    <p>Comment 3</p>
</body>
</html>
