<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Available Job</title>
</head>
<body>
<div class="container">
    <div>
    <label for="employerName">Company: </label><br>
    <p name="employerName">&nbsp;&nbsp;&nbsp;&nbsp;A Company</p>
    <label for="postedPosition">Available Position: </label><br>
    <p name="postedPosition">&nbsp;&nbsp;&nbsp;&nbsp;Software Engineer</p>
    <label for="positionLocation">Company Location: </label><br>
    <p name="positionLocation">&nbsp;&nbsp;&nbsp;&nbsp;Oxford, MS</p>
    <label for="prereqs">Prerequisites: </label><br>
    <p name="prereqs">&nbsp;&nbsp;&nbsp;&nbsp;Skills we would like you to have:
    <ul>
        <li>Bachelor's Degree in Computer Science</li>
        <li>2+ Years of experience</li>
    </ul>
    </p>
    <label for="benefits">Benefits: </label><br>
    <p name="benefits">&nbsp;&nbsp;&nbsp;&nbsp;Available Benefits:
        <ul>
            <li>Full Vision</li>
            <li>Full Dental</li>
            <li>Full Health Care</li>
        </ul>
    </p>
    <button class="btn btn-danger">Delete Posting</button>
    </div>
    <div>
    <textarea placeholder="Make a comment..." cols="75" rows="3"></textarea> <button class="btn btn-success">Make Comment!</button>
    </div>
    <div>
    <p>Comment 1</p>
    <p>Comment 2</p>
    <p>Comment 3</p>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
